body{
	background: #f2efef;
}
a{
		color: white;
		text-decoration: none;
		padding-top:.1% ;
	}
	a:hover{
		text-decoration: none;
		display: block;
		height: 100%;
		background: #ce1077;
	}
.nav{
			width: 100%;
			height: 60px;
			background: #d2137a;
			/*margin-left: 15px;*/
			top: 0px;
			position: fixed;
			z-index: 100;
	}

.Img{
	line-height: 60px;
	margin-left:2% ;
	/*width: 30%;*/
}
.search{
	margin-top: 8%;
	width: 80%;
	margin-left: 2%;
	height: 10%;
}

#banner{
	margin-top: 6%;
}

.swiper-wrapper img{
	width: 100%;
	height: 350px;
}
dl{
	margin-top: 10%;
}
dt{
	padding-left: 40%;
	color: white;
}
dd{
	text-align: center;
	color: white;
}
.footer{
	/*margin-top: 10%;*/
	width: 100%;
	background: #50474c;
	position:fixed;
	bottom: 0%;
	
}
.col-lg-3 dt{
	padding-left: 40%;
}
input[type=submit]{
	width: 16%;
	height: 45px;
	background: #ee0086;
	border: none;
	
}
input[type=search]{
	width: 70%;
	height: 45px;
	border: none;
	margin-left: 8%;
	padding-left: 50px;
	background: white url(../img/images/10_03.png) no-repeat left center;
}.content p{
	float: left;
	margin:4% 10%;
}
.goodsList{
			/*margin-bottom: 80%;*/
			width: 90%;
			margin: auto;
			margin-top: 8% ;
			margin-left: 8%;
			height: 1100px;
		}
		
.detail-banner{
	margin-top: 7%;
}
.shop{
    	position: relative;
    }
.shopNumber{
	position: absolute;
	width: 30%;
	height: 30%;
	border-radius: 50%;
	right: 52%;
	top: 10%;
	font-size: 16px;
}
#mianbox{
			margin-top: 8%;
		}