.goodsList{
			/*margin-bottom: 80%;*/
			width: 90%;
			margin: auto;
			margin-top:25% ;
			margin-left: 8%;
			height: 600px;
		}
.goods{
			float: left;
			margin:3% 1%;
			height: 230px;
		}
		.imgbox img{
			width: 100px;
			height: 100px;
		}
		.goods .goodesName{
			width: 100px;
			/*color: wheat;*/
		}
		.listBox{
			margin-top: 28%;
		}
#banner{
	margin-top: 16%;
	height: 200px;
}
.swiper-wrapper img{
	width: 100%;
	height: 200px;
}
.search{
	margin-top: 28%;
	width: 80%;
}

.nav .Img .logo{
	width: 50%;
}
/*.nav .Img .lgn{
	width: 100%;
}*/
.detail-banner{
	margin-top: 16%;
}
.shopNumber{
	position: absolute;
	width: 30%;
	height: 30%;
	border-radius: 50%;
	right: 28%;
	top: 10%;
	font-size: 16px;
}
#mianbox{
			margin-top: 21%;
		}